[tool.poetry]
name = "apexdevkit"
version = "1.16.3"
description = "Apex Development Tools for python."
authors = ["Apex Dev <dev@apex.ge>"]
readme = "README.md"

[tool.poetry.dependencies]
python = "^3.11"
httpx = "*"
fastapi = "*"
pymongo = "*"
uvicorn = "*"
sentry-sdk = {extras = ["fastapi"], version = "*"}
python-dotenv = "*"
pymssql = "^2.3.1"

[tool.poetry.group.dev.dependencies]
pytest = "*"
pytest-cov = "*"
pytest-recording = "*"
coverage = "*"
faker = "*"
mongomock = "*"

[tool.poetry.group.lint.dependencies]
mypy = "*"
ruff = "*"

[tool.mypy]
python_version = "3.11"
ignore_missing_imports = true
strict = true
exclude = [
    "apexdevkit/fastapi/schema.py",
    "apexdevkit/fastapi/dependable.py",
]

[tool.ruff]
target-version = "py311"
line-length = 88

exclude = [
    ".git",
    ".mypy_cache",
    ".ruff_cache",
    "venv",
]

lint.select = ["E", "F", "I"]
lint.ignore = []
lint.fixable = ["A", "B", "C", "D", "E", "F", "I"]
lint.unfixable = []

[tool.ruff.lint.mccabe]
max-complexity = 10

[tool.coverage.run]
branch = true
source = [
    "apexdevkit",
    "tests",
]
omit = [
    "apexdevkit/server.py",
]

[tool.coverage.report]
skip_empty = true
skip_covered = true
show_missing = true
